In [1]:
import numpy as np
import pandas as pd

In [2]:
countries=[
        "Russian Fed",
        "Norway",
        "Canada",
        "United States",
        "Netherlands",
        "Germany",
        "Switzerland",
        "Belarus",
        "Austria",
        "France", 
        "Poland", 
        "China", 
        "Korea",
        "Sweden", 
        "Czech Republic", 
        "Slovenia", 
        "Japan",
        "Finland", 
        "Great Britain", 
        "Ukraine", 
        "Slovakia",
        "Italy", 
        "Latvia", 
        "Australia", 
        "Croatia", 
        "Kazakhstan"
    ]

In [3]:
gold=[
        13,
        11,
        10,
        9,
        8,
        8,
        6,
        5,
        4,
        4,
        4,
        3,
        3,
        2,
        2,
        2,
        1,
        1,
        1,
        1,
        1,
        0,
        0,
        0,
        0,
        0
    ]

In [4]:
silver=[
        11,
        5,
        10,
        7,
        7,
        6,
        3,
        0,
        8,
        4,
        1,
        4,
        3,
        7,
        4,
        2,
        4,
        3,
        1,
        0,
        0,
        2,
        2,
        2,
        1,
        0
    ]

In [5]:
bronze=[
        9,
        10,
        5,
        12,
        9,
        5,
        2,
        1,
        5,
        7,
        1,
        2,
        2,
        6,
        2,
        4,
        3,
        1,
        2,
        1,
        0,
        6,
        2,
        1,
        0,
        1
    ]

In [6]:
print(countries,gold,silver,bronze)

['Russian Fed', 'Norway', 'Canada', 'United States', 'Netherlands', 'Germany', 'Switzerland', 'Belarus', 'Austria', 'France', 'Poland', 'China', 'Korea', 'Sweden', 'Czech Republic', 'Slovenia', 'Japan', 'Finland', 'Great Britain', 'Ukraine', 'Slovakia', 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan'] [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0] [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0] [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

In [7]:
    olympic_medals_counts={
        'country_name':pd.Series(countries),
        'gold_medals':pd.Series(gold),
        'silver_medals':pd.Series(silver),
        'bronze_medals':pd.Series(bronze)
    }
    olympic_medals_df=pd.DataFrame(olympic_medals_counts)

In [8]:
olympic_medals_df

      country_name  gold_medals  silver_medals  bronze_medals
0      Russian Fed           13             11              9
1           Norway           11              5             10
2           Canada           10             10              5
3    United States            9              7             12
4      Netherlands            8              7              9
5          Germany            8              6              5
6      Switzerland            6              3              2
7          Belarus            5              0              1
8          Austria            4              8              5
9           France            4              4              7
10          Poland            4              1              1
11           China            3              4              2
12           Korea            3              3              2
13          Sweden            2              7              6
14  Czech Republic            2              4              2
15        Slovenia            2              2              4
16           Japan            1              4              3
17         Finland            1              3              1
18   Great Britain            1              1              2
19         Ukraine            1              0              1
20        Slovakia            1              0              0
21           Italy            0              2              6
22          Latvia            0              2              2
23       Australia            0              2              1
24         Croatia            0              1              0
25      Kazakhstan            0              0              1

In [9]:
atleast_one_gold_bronze_medal=olympic_medals_df.bronze_medals[olympic_medals_df.gold_medals>=1]

In [10]:
atleast_one_gold_bronze_medal

0      9
1     10
2      5
3     12
4      9
5      5
6      2
7      1
8      5
9      7
10     1
11     2
12     2
13     6
14     2
15     4
16     3
17     1
18     2
19     1
20     0
Name: bronze_medals, dtype: int64

In [11]:
np.mean(atleast_one_gold_bronze_medal)

4.238095238095238

In [12]:
avg_medal_count=olympic_medals_df[['gold_medals','silver_medals','bronze_medals']].apply(np.mean)

In [13]:
avg_medal_count

gold_medals      3.807692
silver_medals    3.730769
bronze_medals    3.807692
dtype: float64

In [14]:
medals_count_only=olympic_medals_df[['gold_medals','silver_medals','bronze_medals']]

In [15]:
points_for_medals=[4,2,1]

In [16]:
points=np.dot(medals_count_only,[4,2,1])

In [17]:
points

array([83, 64, 65, 62, 55, 49, 32, 21, 37, 31, 19, 22, 20, 28, 18, 16, 15,
       11,  8,  5,  4, 10,  6,  5,  2,  1], dtype=int64)

In [18]:
olympic_points={
    "countries":pd.Series(countries),
    "points":pd.Series(points)
}

In [19]:
olympic_point_df=pd.DataFrame(olympic_points)

In [20]:
olympic_point_df

         countries  points
0      Russian Fed      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1